{xref_checks, [
    undefined_function_calls,
    undefined_functions,
    locals_not_used,
    %exports_not_used,
    deprecated_function_calls,
    deprecated_functions
]}.

{profiles, [
    {lint, [
        {plugins, [rebar3_lint]},
        {elvis, [#{
            dirs    => ["src"],
            filter  => "*.erl",
            ruleset => erl_files,
            rules   => [
                {elvis_style, line_length, #{limit => 120}}
            ]
        }]}
    ]},
    {test, [
        {eunit_compile_opts, [export_all]},
        {cover_enabled, true},
        {cover_opts, [verbose]}
    ]}
]}.
