{xref_checks, [
    undefined_function_calls,
    undefined_functions,
    locals_not_used,
    %exports_not_used,
    deprecated_function_calls,
    deprecated_functions
]}.

{profiles, [
    {lint, [
        {plugins, [rebar3_lint]}
    ]},
    {test, [
        {eunit_compile_opts, [export_all]},
        {cover_enabled, true},
        {cover_opts, [verbose]}
    ]}
]}.

{post_hooks, [
    {edoc, "escript tools/coverage_check.erl"}
]}.
