{xref_checks, [
    undefined_function_calls,
    undefined_functions,
    locals_not_used,
    %exports_not_used,
    deprecated_function_calls,
    deprecated_functions
]}.

{profiles, [
    {lint, [
        {plugins, [rebar3_lint]}
    ]},
    {test, [
        {eunit_compile_opts, [export_all]},
        {ct_opts, [
            {dir, [
                "apps/hello_joe/test",
                "apps/traffic_light/test"
            ]}
        ]},
        {cover_enabled, true},
        {cover_excl_mods, [cohort]},
        {cover_opts, [verbose]}
    ]},
    {prod, [
        {erl_opts, [
            no_debug_info
        ]},
        {relx, [
            {release,
                {cohort, "0.1.0"},%semver},
                [cohort]
            },
            {sys_config, "apps/cohort/config/cohort.config"},
            {vm_args,    "apps/cohort/config/vm.args"},
            {extended_start_script, true},
            {dev_mode, false},
            {include_erts, true},
            {include_src, false}
        ]}
    ]}
]}.

