[{kernel, [
    {distributed, [
        {cohort, 1000, [
            {magnumopus@localhost, obsequilis@localhost}
        ]}
    ]},
    {sync_nodes_optional, [magnumopus@localhost, obsequilis@localhost]},
    {sync_nodes_timeout, 5000},
    {logger_level, debug},
    {logger, [
        {handler, default, logger_disk_log_h, #{
            config => #{file => "log/full.log"},
            formatter => {logger_formatter, #{
                single_line => true,
                time_offset => "Z"  % UTC
            }}
        }}
    ]}]
}].
