[
 {
   elvis,
   [
    {config,
     [#{dirs => ["apps/*/src"],% EUnit makes Elvis unhappy -, "apps/*/test"],
        filter => "*.erl",
        ruleset => erl_files
       },
      #{dirs => ["."],
        filter => "rebar.config",
        ruleset => rebar_config
       },
      #{dirs => ["scripts"],
        filter => "elvis.config",
        ruleset => elvis_config
       }
     ]
    }
   ]
 }
].
